<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>


    <link rel="stylesheet" href="CSS Files/cart.css">
    <link rel="stylesheet" href="CSS Files/blog.css">
    <link rel="stylesheet" href="CSS Files/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <!-- Header -->
    {{>Header}}


    <main>
        <div class="cart_main">
            <div></div>
            <div class="cart_contents">
                <div class="head">
                    <div class="cart_title">
                        <h2>Cart</h2>
                    </div>
                    <div class="price_title">
                        <h4>Price</h4>
                    </div>
                </div>

                <div class="cart_body">
                    <hr>
                    <div class="items">
                        {{#each products}}
                        <div class="item">
                            <div class="thumbnail">
                                <img src="{{mainimage}}">
                            </div>
                            <div class="item_details">
                                <div class="itm_info">
                                    <h3>{{title}}</h3>
                                    <div class="quantity">
                                        <span>Qty</span>
                                        <span class="value">1</span>
                                        {{!-- <div class="add" onclick="AddItem()">-</div>
                                        <div class="remove" onclick="RemoveItem()">+</div> --}}
                                    </div>
                                </div>
                                <div class="price">
                                    <h4 class="prc">{{price}}</h4>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    {{/each}}

                    <div class="End">
                        <div class="Checkout" onclick="total()">
                            Checkout
                        </div>
                        <h3 class="tot12" style="color: white;"></h3>

                        <div class="total">
                            <h3 id="tot11" style="color: white;"></h3>
                        </div>
                    </div>
                </div>

            </div>


            <div></div>
        </div>
    </main>


    {{>Footer}}

    <script>
        function total() {
            let s1 = document.querySelectorAll(".prc")
            let s2 = document.querySelectorAll(".value")
            let s3 = document.getElementById("tot11")
            var sum = 0;
            for (i = 0; i <= s1.length; i++) {
                var a1 = parseInt(s1[i].innerHTML)
                var a2 = parseInt(s2[i].innerHTML)
                var a3 = a1 * a2
                s1[i].innerHTML = a3
                sum = sum + a3
            }
            console.log(s3.innerHTML)
        }
    </script>


</body>

</html>