<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS Files/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <style>
        body{
            background-color: black;
        }
        .error
        {
            margin:auto;
            width: 50%;
            display: flex;
            color: white;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .error img{
            width: 40%;
        }
    </style>
</head>

<body>
    <div class="error">
        <img src="../Images/Icons/404.png" alt="">
        <h1>404</h1>
        <h1>Page Not Found</h1>
    </div>
</body>

</html>