<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>


    <link rel="stylesheet" href="CSS Files/post.css">
    <link rel="stylesheet" href="CSS Files/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap" rel="stylesheet">

</head>

<body>
    {{>Header}}


    <main>
        <div class="blog_section">
            <div></div>
            <div class="blog_body">
                <div class="heading">
                    <div class="Title">
                        <h1>NBA 2K23 Review</h1>
                        <h3>Simultaneously a love letter to basketball fans and a
                            microtransaction-infested disappointment.</h3>
                    </div>
                    <div class="Video">
                        <video controls autoplay muted>
                            <source src="Images/NBA 2K23 Review.mp4" type="video/mp4">
                        </video>
                    </div>
                    <hr>
                    <div class="Review_info">
                        <img src="Images/Icons/auth.png" alt="author">
                        <span>By Aryaman Sital</span>
                        <img src="Images/Icons/pstd.png" alt="date">
                        <span> Posted Sep 15, 2022</span>
                    </div>
                    <hr>
                </div>

                <div class="content">
                    <p>
                    </p>
                    <p>
                    </p>
                    <div class="Post_video">
                        <video controls muted>
                            <source src="Images/NBA 2K23 Review.mp4" type="video/mp4">
                        </video>
                    </div>
                    <strong>Gameplay video</strong>
                    <p>
                    </p>
                    <hr>
                    <h2></h2>
                    <hr>
                    <p>
                    </p>
                    <p>
                    </p>
                    <hr>
                    <h2></h2>
                    <hr>
                    <p>
                    </p>
                    <div class="Post_video">
                        <video controls muted>
                            <source src="Images/NBA 2K23 Review.mp4" type="video/mp4">
                        </video>
                    </div>
                    <strong>Gameplay video</strong>
                    <p>
                    </p>
                    <hr>
                    <h2></h2>
                    <hr>
                    <p>
                    </p>
                    <p></p>
                    <hr>
                    <h2></h2>
                    <hr>
                    <h4>The Verdict</h4>
                    <p>
                    </p>
                    <hr>
                </div>
                <div class="game_info">
                    <h2>In This Review</h2>
                    <div class="area">
                        <div class="game">
                            <div class="game_image"><img src="Images/review1.jpg" alt="review image"></div>
                            <div class="game_about">
                                <h3>NBA2K23</h3>
                                <br>
                                <h5>Release: Sep 15, 2022</h5>
                                <br><br>
                                <span>Platforms</span>
                                <img src="Images/Icons/Xbox.png" alt="Xbox">
                                <img src="Images/Icons/Playstation.png" alt="Playstation">
                            </div>
                            <div class="score">
                                <div class="Score_value">
                                    <div class="number">
                                        <h2>6</h2>
                                    </div>
                                    <div class="feel">
                                        <h2>Okay</h2>
                                    </div>
                                </div>
                                <div class="summary">
                                    <p>NBA 2K23's on-court improvements should've led it to an easy layup, but the
                                        ever-present nuisance of pay-to-win microtransactions make it much harder to
                                        enjoy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="more_rev_title">
                    <h2>More Reviews</h2>
                </div>
                <div class="more_rev">
                </div>

            </div>
            <div></div>
        </div>
    </main>

    {{>Footer}}


    <!-- Java Script -->

    <script type="text/javascript" src="JS Files\Post.js" defer></script>

</body>