<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS Files/header.css">

</head>

<body>
    <div class="footer">
        <div class="foot-left">
            <a href="/Home">
                <button class="buttons">
                    <img src="/Images/logo.png" alt="Game Ghoul">
                </button>
            </a>
            <div class="ftab">
                <a href="/Home">Home</a>
                <a href="/Blog">Blog</a>
                <a href="/Reviews">Review</a>
            </div>
            <div class="ftab1">
                <a href="/Shop">Shop</a>
                <a href="/Product">Games</a>
                <a href="/Product">Accessories</a>
                <a href="/Product">Apparels</a>
            </div>
            <div class="ftab">
                <a href="/Cart">Cart</a>
                <a href="/Login">Login</a>
            </div>
        </div>
        <div class="foot-cont">
            <div class="foot-head">
                <h3>Follow us on</h3>
            </div>
            <div class="log1">
                <a href="#">
                    <button class="buttons">
                        <img src="/Images/twitter.png">
                    </button>
                </a>
                <a href="instagram://user?username={gameghoul77}">
                    <button class="buttons">
                        <img src="/Images/instagram.png">
                    </button>
                </a>
                <a href="#">
                    <button class="buttons">
                        <img src="/Images/twitch.png">
                    </button>
                </a>
                <a href="#">
                    <button class="buttons">
                        <img src="/Images/discord.png">
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>