<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS Files/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <a href="/Home">
            <button class="buttons">
                <img src="../Images/logo.png" alt="Game Ghoul">
            </button>
        </a>
        <div class="tabs">
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/reviews">Review</a>
            <a href="/shop">Shop</a>
        </div>


        <div class="log">
            <input type="email" name="" id="" placeholder="  Search...">
            <a href="/cart">
                <button class="buttons">
                    <img src="../Images/Icons/cart.png">
            </a>
            <a href="/Login">
                <button class="buttons">
                    <img src="../Images/profile.png">
                </button>
            </a>
        </div>
    </div>
</body>

</html>